<div style="text-align:center">
  <h1>
    <i class="fab fa-angular mr-1"></i>Welcome to {{ title }}!<i class="fab fa-angular ml-1"></i>
  </h1>
</div>
<div class="container">
  <hr/>
  <div class="card">
    <div class="card-header">
      <h5 class="d-inline"><i class="fas fa-file-upload mr-2"></i>File Upload Demo</h5>
      <ng-container *ngIf="currentRoute == '/away'; else awayTmplt">
        <button class="d-inline btn btn-outline-primary ml-3" routerLink="/drop">Home</button>
      </ng-container>
      <ng-template #awayTmplt>
        <button class="d-inline btn btn-outline-primary ml-3" routerLink="/away">Away</button>
      </ng-template>
    </div>
    <div class="d-flex card-body">
      <div>
        <button class="btn btn-primary global__button" (click)="fileInput.click()">Choose File</button>
        <input #fileInput type="file" name="image"
               ng2FileSelect
               [uploader]="uploader"
               multiple
               accept="image/x-png,image/gif,image/jpeg" [ngStyle]="{'display': 'none'}"/>
        <button type="button"
                class="btn btn-outline-primary global__button ml-2"
                (click)="openInfoModal()"
                [disabled]="!uploader.queue.length">
          <i class="fas fa-info-circle mr-1"></i>
          Details
          <span class="badge badge-danger ml-1">{{uploader.queue.length}}</span>
        </button>
      </div>
    </div>
  </div>
  <hr/>
  <router-outlet></router-outlet>
</div>
